/*-----------Small screens Size - SM--------------/
(min-width: 640px)
*/
.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about__line {
  border: 1px solid var(--clr-primary);
  width: 60%;
  height: 0;
}

.about__quote {
  line-height: 1.1;
  text-align: center;
  font-size: var(--size-3xl);
  letter-spacing: -0rem;
  color: var(--clr-light);
}

.about__description {
  letter-spacing: -0.03rem;
  font-size: var(--size-md);
  text-align: center;
  flex-direction: column;
}

.about__skills {
  font-weight: 500;
  font-size: var(--size-lg);
  /* width: 15rem;
  height: 2rem; */
}

.skills-wrapper {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: var(--clr-primary);
  font-size: var(--size-5xl);
}

.skills-wrapper i {
  /*flex: 1 >>(Flex-grow) 0>>>(flex shrink) 25%>> (flex basis) max size of every part*/
  flex: 1 0 25%;
}

/*-----------Medium screens Size - MD---------------*/
/*size md*/
@media (min-width: 768px) {
  .about__content {
    flex-direction: row;
    padding-top: 3rem;
  }

  .about__line {
    height: 150px;
    width: 0px;
  }
  .about__quote {
    flex: 6;
    line-height: 1.1;
    text-align: center;
    font-size: var(--size-3xl);
    color: var(--clr-light);
  }

  .about__description {
    flex: 7;
    text-align: center;
    font-size: var(--size-md);
  }

  .about__skills {
    font-weight: 500;
    font-size: var(--size-lg);
    line-height: 1;
  }
  .skills-wrapper i {
    /*flex: 1 >>(Flex-grow) 0>>>(flex shrink) 25%>> (flex basis) max size of every part*/
    flex: 1 0 14%;
  }
}

/*------------Large screens Size - LG-------------*/
/*size lg*/
@media (min-width: 1024px) {
  .about__quote {
    font-size: var(--size-5xl);
    color: var(--clr-light);
  }

  .about__description {
    text-align: center;
    font-size: var(--size-lg);
    align-items: flex-end;
  }

  .about__skills {
    font-weight: 500;
    font-size: var(--size-xl);
    /* width: 30%; */
    padding: 1rem;
  }
  .skills-wrapper {
    gap: 0;
  }
}
