/*Small screens Size - SM/
/*size sm 
(min-width: 640px)
*/
.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about__quote {
  line-height: 1.1;
  text-align: center;
  font-size: var(--size-3xl);
  letter-spacing: -0.02rem;
  color: var(--clr-light);
}

.about__description {
  letter-spacing: -0.03rem;
  font-size: var(--size-md);
  text-align: center;
  flex-direction: column;
}

.about__skills {
  letter-spacing: -0.02rem;
  font-weight: 500;
  font-size: var(--size-md);
  width: 15rem;
  height: 2rem;
  line-height: 1.2;
}

.skills-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: var(--clr-primary);
  font-size: var(--size-6xl);
}

/*-----------Medium screens Size - MD---------------/
/*size md*/
@media (min-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
  .about__quote {
    flex: 5;
    line-height: 1.1;
    text-align: left;
    font-size: var(--size-3xl);
    color: var(--clr-light);
  }

  .about__description {
    flex: 7;
    text-align: center;
    font-size: var(--size-md);
  }

  .about__skills {
    font-weight: 500;
    font-size: var(--size-lg);
    width: 35rem;
    height: 2rem;
    line-height: 1;
  }
}

/*------------Large screens Size - LG-------------*/
/*size lg*/
@media (min-width: 1024px) {
  .about__content {
    display: flex;
    justify-items: center;
    align-items: flex-end;
  }
  .about__quote {
    justify-content: center;
    text-align: left;
    line-height: 1;
    font-size: var(--size-5xl);
    color: var(--clr-light);
  }

  .about__description {
    font-size: var(--size-xl);
    align-items: flex-end;
  }

  .about__skills {
    font-weight: 500;
    font-size: var(--size-xl);
    width: 30%;
    line-height: 1;
  }
}
