/*Content Styles (About me)*/
.about__container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*Abou section*/

.about__quote {
  line-height: 1.1;
  text-align: center;
}

.about__description {
  max-width: 60ch;
}

.about__hr {
  border-color: var(--clr-primary);
  border: 4px solid red;
  width: 2rem;
}

/*Content Skills */

.skill-container {
  display: flex;
  flex-direction: column;
}
.skills {
  margin-top: 2.5rem;
}
.skill-header {
  margin-bottom: 1rem;
  text-align: left;
}

.skills-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.icon {
  color: red;
  width: 5rem;
  height: 5rem;
}
/* 
.icon-card {
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
} */

/* @media screen and (max-width: 300px) {
  .aboutme-content {
    width: 300px;
  }
  .skills-wrapper {
    flex-direction: column;
  }
} */
