/*<----Mobile Nav CSS----->*/

.mobile_nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-background);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--size-lg);
}
.mobile__nav-show {
  display: flex;
  position: fixed;
}

.mobile_nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mobile__nav-close {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.mobile_nav-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-text);
  letter-spacing: -0.03em;
  transition: color 0.3s;
}

.mobile_nav-link:hover {
  color: var(--clr-primary);
}
.mobile_nav-sun {
  display: block;
  position: absolute;
  bottom: 3rem;
  font-size: var(--size-2xl);
}

.mobile_nav-btn {
  font-size: var(--size-md);
}

/*-----------Small screens Size - SM--------------/
(min-width: 640px)*/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
  background-color: var(--clr-background);
}
.header__link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: relative;
  background: var(--clr-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__link:hover:after {
  width: 100%;
  left: 0;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
/* .sticky + .header {
  padding-top: 2rem;
} */

.header__menu {
  display: none;
}

.header__bars {
  color: var(--clr-primary);
  color: var(--clr-text);
  width: var(--size-3xl);
  height: var(--size-3xl);
  display: block;
}

/*-----------Medium screens Size - MD---------------*/
/*size md*/

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.5em;
  }

  .header__link {
    color: var(--clr-text);
    font-size: var(--size-sm);
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  /* .header__link:hover {
    cursor: pointer;
    color: var(--clr-accent);
    text-decoration: underline;
    transition: 1s;
  } */

  .header__sun {
    color: var(--clr-primary);
    width: var(--size-base);
    height: var(--size-base);
    cursor: pointer;
  }

  .header__resume {
    font-size: var(--size-sm);
  }
  .header__bars {
    display: none;
  }
}

/*------------Large screens Size - LG--------------*/
/*size lg*/
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-lg);
  }

  .header__sun {
    width: var(--size-lg);
    height: var(--size-lg);
  }

  .header__resume {
    font-size: var(--size-lg);
  }
  .header__bars {
    display: none;
  }
}
