/*Hero Styles*/
/*Small screens Size - SM/
/*size sm*/
.hero {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero__subtitle {
  font-size: var(--size-lg);
  color: var(--clr-text);
  line-height: 0.4;
}

.hero__title {
  color: var(--clr-text);
  text-transform: capitalize;
  font-size: var(--size-4xl);
  letter-spacing: -0.04rem; /*Relative to font-size of the root element*/
  line-height: 1;
}

.hero__description {
  max-width: 60ch; /*ch>>Relative to the width of the "0" (zero)*/
  font-size: var(--size-sm);
  line-height: 0.2;
}

.hero__location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero__iconscolor {
  color: var(--clr-primary);
  font-size: var(--size-md);
  text-decoration: none;
}


.hero__contact_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/*Medium screens Size - MD/
/*size md*/
@media (min-width: 768px) {
  .hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    gap: 1.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-6xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__iconscolor {
    font-size: var(--size-xl);
  }
  .hero__contact_icons {
    position: absolute;
    flex-direction: column;
    bottom: 0;
    right: 0;
  }
}

/*Large screens Size - LG/
/*size lg*/
@media (min-width: 1024px) {
  .hero {
    padding: 2rem;
  }
  .hero__subtitle {
    font-size: var(--size-2xl);
    letter-spacing: -0.04rem;
  }

  .hero__title {
    font-size: var(--size-8xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }
  .hero__iconscolor {
    font-size: var(--size-3xl);
  }
}
