/*Hero Styles*/

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: left;
  justify-content: center;
  padding: 0 2em;
}

.name {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-light);
  font-size: 5em;
  letter-spacing: -1px;
}
.text-hero {
  font-size: 1.2rem;
  font-family: var(--ff-base);
  max-width: 65%;
  color: var(--clr-light);
}
