.bg-body-tertiary {
  display: flex;
  flex-direction: row !important;
  padding: 0 !important;
  width: 100%;
  row-gap: 5rem;
}

.name-Navbar {
  letter-spacing: -1px;
  font-size: 2rem !important;
  font-family: var(--ff-accent);
}

.toggler {
  justify-content: end;
  border: coral solid 2px;
}
.position-absolute {
  row-gap: 5rem !important;
}

.section {
  height: 95vh;
}

.position-absolute {
  transition: all linear 0.5s;
}
.nav-link {
  padding: 5px;
}

.nav-link :active {
  color: blueviolet;
}
