.container-fluid {
  border: red solid;
}

.name-Navbar {
  letter-spacing: -1px;
  font-size: 2rem;
  font-family: var(--ff-accent);
}

.toggler {
  justify-content: end;
  border: coral solid 2px;
}
/* .position-absolute {
  row-gap: 5rem;
} */

.position-absolute {
  transition: all linear 0.5s;
}
.nav-link {
  padding: 5px;
}

.nav-link :active {
  color: blueviolet;
}

.container-sections {
  align-items: ;
  border: blue solid;
}
