/*-----------Screen Sizes--------------*/

/*Small screens Size - SM/
/*size sm 
@media (min-width: 640px) {}
*/

/*Medium screens Size - MD/
/*size md*/
/* @media (min-width: 768px) {
  .
} */

/*Large screens Size - LG/
/*size lg*/
/* @media (min-width: 1024px) {
  
*/
/*-----------Utilities to used throught-------------*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.02em;
  padding: 0.5em 0.8em;
  border-radius: 6px;
  border: 1px solid var(--clr-primary);
  box-shadow: 0 10px 20px rgba(126, 246, 149, 0.2);
  font-family: var(--ff-base);
  /*Add outline button*/
}
.btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-dark);
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 2px solid salmon;
}

.section {
  margin-top: 6rem;
}

/*size sml*/
/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
} */
/*size md*/
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */

/*size lg*/

/* @media (min-width: 1024px) {
  .container {
    max-width: 1px;
  }
} */
