:root {
  --clr-primary-400: #faf4d3;
  --clr-primary-500: #ccc7ac;
  --clr-secondary-200: #0d324d;

  --ff-accent: "Newsreader", serif;
  --ff-base: "Montserrat", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: var(--fw-regular);
  overflow-x: hidden;
  position: relative;
  color: #010005;
  font-family: var(--ff-base);
  line-height: 1.6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
  overflow-wrap: break-word;
}
.container-canvas {
  display: flex;
  list-style: none;
  padding: 0 !important;
  flex-wrap: wrap;
  width: 100vw;
  height: 95vh;
  border: solid rgb(23, 49, 194);
}
