:root {
  --clr-primary-400: #faf4d3;
  --clr-primary-500: #ccc7ac;
  --clr-secondary-200: #0d324d;

  --ff-accent: "Newsreader", serif;
  --ff-base: "Montserrat", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: var(--fw-regular);
  overflow-x: hidden;
  position: relative;
  color: #010005;
  font-family: var(--ff-base);
  line-height: 1.6;
  min-width: 300px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
}
.container-canvas {
  width: 100%;
  height: 95vh;
  overflow-x: auto;
  overflow-y: scroll;
  border: solid rgb(255, 0, 212);
}

@media screen and (max-width: 600px) {
  .container-canvas {
    padding: 0;
  }
}
